<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wporoad.app.dao.UserMapper">

  <resultMap id="UserMap" type="com.wporoad.app.entity.User">
    <result property="id" column="ID" />
    <result property="userName" column="USERNAME" />
    <result property="password" column="PASSWORD" />
    <result property="email" column="EMAIL" />
  </resultMap>

  <insert id="addUser" parameterType="com.wporoad.app.entity.User">
    INSERT INTO USER(
    ID,
    USERNAME,
    PASSWORD,
    EMAIL
    )
    VALUES (
    #{id},
    #{userName},
    #{password},
    #{email}
    )
  </insert>
  
  <!-- 查询总记录数 -->
<!--   <select id="getTotalCount" resultType="int" >
    SELECT count(*) FROM USER
  </select> -->
  
  <!-- 分页查询用户信息 -->
<!--     <select id="findAllInfo" parameterType="com.wporoad.app.util.PageModel" resultType="com.wporoad.app.entity.User" >
    SELECT * FROM USER LIMIT #{pageNo} , #{pageSize}
   </select> -->
   
  <!-- 查询所有用户信息 -->
  <select id="queryUsers" resultMap="UserMap" >
    SELECT * FROM USER
  </select> 

  <!-- 删除信息 -->
  <delete id="delUser" parameterType="int">
    DELETE FROM USER WHERE ID = #{id}
  </delete>
  
  <select id="detailUser" parameterType="int" resultMap="UserMap">
    SELECT USERNAME,PASSWORD,EMAIL, ID
    FROM USER WHERE ID = #{value}
  </select>
  
  
  <!-- 更新信息 -->
  <update id="updateUser" parameterType="com.wporoad.app.entity.User">
    UPDATE USER
    <set>
      <if test="userName != null ">USERNAME = #{userName},</if>
      <if test="password != null ">PASSWORD = #{password},</if>
      <if test="email != null ">EMAIL = #{email}</if>
    </set>
    WHERE ID = #{id}
  </update>
  
</mapper>